$c-gray: #eee;
$bg-color: #3f5252;
$black-color: #1c1b29;
$white-color: #f1f5f4;
$gray-color: #504f5e;
$orange-color: #cd4d31;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$effect-duration: 0.3s;
